* {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: "Open Sans", sans-serif;            
}

     body {
        background-color:#16122e;
     }

     .menu {
            position: sticky;
            background-color:#0e0b1d;
            color: aliceblue;
            padding: 20px 0;
            display: flex;
            justify-content: space-around;
            flex-direction: row;
            align-items: center;
            }

    .menu-nav li{
        display: inline-flex;
        padding-left: 5px;
        flex-wrap: nowrap;
    }

    .menu-nav a{
        text-decoration: none;
        color: aliceblue;
        margin: 0px 2px;

    }

    .menu-nav a:hover{
        color: rgb(121, 146, 168); 
    }

    .main{
        display: flex;
        flex-direction: column;
        padding: 25px;
        align-items: center;
    }

    .info{
        background-color: aliceblue;
        width: 90%;
        max-width: 1000px;
        border-radius: 10px;
        padding: 25px;
        display: flex;
        flex-direction: column;
    }

    .info img{
        align-self: center;
    }


    
    .footer{
        background-color: aliceblue;
        width: 90%;
        max-width: 1000px;
        border-radius: 7px;
        margin-top: 50px;
        padding: 25px;
    }

    .quiz{
        background-color: aliceblue;
        margin-top: 100px;
        padding-bottom: 30px;
        width: 90%;
        max-width: 600px;
        border-radius: 10px;
    }

    .quiz h3{
        display: flex;
        justify-content: center;
        font-size: 30px;
    }

    .pb{
        margin-top: 30px;
        margin-left: 7%;
        font-size: 18px;
    }

    .button{
        display: flex;
        flex-direction: column;
        margin-top: 5px;
        height: 40px;
        width: 90%;
        cursor: pointer;
    }

    .resposta{
        color: green;
        padding-left: 50px;
    }

    .erro{
        color: red;
        padding-left: 50px;
    }


    #erro1{
        display: none;
    }
    #erro2{
        display: none;
    }
    #erro3{
        display: none;
    }

    #resposta1{
        display: none;
    }
    #resposta2{
        display: none;
    }
    #resposta3{
        display: none;
    }

    
   
    #pb2{
        display: none;
    }
    #pb3{
        display: none;
    }

    .pabens{
        display: none;
    }

    #parabens{
        padding-top: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }


    #trueresposta1{
        display: none;
        padding: 40px;
    }

    #trueresposta2{
        display: none;
        padding: 40px;
    }

    #trueresposta3{
        display: none;
        padding: 40px;
    }

    #friedrichimg{
        height: 400px;
    }

    #cloroimg{
        height: 400px;
    }

    #pabensimg{
        height: 70%;
        width: 90%;
    }
